<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>General Form</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">General Form</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-11">
            
            <!-- Horizontal Form -->
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Horizontal Form</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form method="POST" action="/pegawai/tambah" class="form-horizontal">
                <div class="card-body">
                  <div class="form-group row">
                    <label for="np" class="col-sm-2 col-form-label">No. Pegawai</label>
                    <div class="col-sm-4">
                      <input name="np" type="number" class="form-control" id="np">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="nama" class="col-sm-2 col-form-label">Nama</label>
                    <div class="col-sm-4">
                      <input name="nama" type="text" class="form-control" id="nama">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="tglLahir" class="col-sm-2 col-form-label">Tanggal Lahir</label>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                            </div>
                            <input name="tglLahir" id="tglLahir" type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                          </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Jenis Kelamin</label>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                              <input value="Laki-laki" class="custom-control-input" type="radio" id="customRadio1" name="jenKelamin" checked>
                              <label for="customRadio1" class="custom-control-label">Laki-laki</label>
                            </div>
                            <div class="custom-control custom-radio">
                              <input value="Perempuan" class="custom-control-input" type="radio" id="customRadio2" name="jenKelamin" >
                              <label for="customRadio2" class="custom-control-label">Perempuan</label>
                            </div>
                          </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Bagian</label>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <select name="idBagian" class="form-control" style="width: 100%;">
                            <% data.forEach(e=>{ %>
                              <option value="<%= e._id %>" selected="selected"><%= e.namaJenis %></option>
                            <% }); %>
                            </select>
                          </div>
                      </div>
                  </div>
                  <div class="form-group row">
                    <label for="telpon" class="col-sm-2 col-form-label">No. Telpon</label>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-phone"></i></span>
                            </div>
                            <input id="telpon" name="noTelp" type="text" class="form-control"  data-mask>
                          </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="tglMasuk" class="col-sm-2 col-form-label">Tanggal Masuk</label>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                            </div>
                            <input id="tglMasuk" name="tglMasuk" type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                          </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="gajiPokok" class="col-sm-2 col-form-label">Gaji Pokok</label>
                    <div class="col-sm-4">
                      <input id="gajiPokok" name="gajiPokok" type="text" class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="insentif" class="col-sm-2 col-form-label">Insentif</label>
                    <div class="col-sm-4">
                      <input name="insentif" type="text" class="form-control" id="insentif">
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-info"> <i class="fa fa-save"></i> Tambah</button>
                  <button type="reset" class="btn btn-default float-right">Reset</button>
                </div>
                <!-- /.card-footer -->
              </form>
            </div>
            <!-- /.card -->

          </div>
          <!--/.col (left) -->
          
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->