<footer class="main-footer">
    <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.0.0-rc.5
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="/plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="/plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="/plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="/plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="/plugins/moment/moment.min.js"></script>
<script src="/plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="/plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/dist/js/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
<!-- DataTables -->
<script src="/plugins/datatables/jquery.dataTables.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>
<!-- page script -->

<!-- bs-custom-file-input -->
<script src="../../plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>


<!-- Select2 -->
<script src="/plugins/select2/js/select2.full.min.js"></script>
<!-- Bootstrap4 Duallistbox -->
<script src="/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
<script src="/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
<!-- bootstrap color picker -->
<script src="/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<!-- Bootstrap Switch -->
<script src="/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<!-- Page script -->
<script>

  $(document).ready(function () {
    bsCustomFileInput.init();
  });

  const btnDetailPegawai = document.querySelectorAll('.btnDetailPegawai');
  const modalDetailPegawai = document.querySelector('.modalDetailPegawai');

  btnDetailPegawai.forEach(e=>{
    e.addEventListener('click',function(){
      modalDetailPegawai.querySelector('.foto').setAttribute('src','../'+this.dataset.foto);
      modalDetailPegawai.querySelector('.foto').setAttribute('alt',this.dataset.foto);
      modalDetailPegawai.querySelector('.nip').innerHTML =this.dataset.nip;
      modalDetailPegawai.querySelector('.nama').innerHTML =this.dataset.nama;
      modalDetailPegawai.querySelector('.jenKelamin').innerHTML =this.dataset.jenkelamin;
      modalDetailPegawai.querySelector('.alamat').innerHTML =this.dataset.alamat;
      modalDetailPegawai.querySelector('.ttl').innerHTML =this.dataset.tempat+', '+this.dataset.tgllahir;
      modalDetailPegawai.querySelector('.bagian').innerHTML =this.dataset.bagian;
      modalDetailPegawai.querySelector('.gajiPokok').innerHTML =this.dataset.gajipokok;
      modalDetailPegawai.querySelector('.insentif').innerHTML =this.dataset.insentif;
      modalDetailPegawai.querySelector('.noTelp').innerHTML =this.dataset.notelp;
      modalDetailPegawai.querySelector('.tglMasuk').innerHTML =this.dataset.tglmasuk;
  
    })
  })

  const sidebarMini = document.querySelector('.sidebar-mini');
  const btnSidebarMini = document.querySelector('.btnSidebarMini');

  btnSidebarMini.addEventListener('click',function(){
    sidebarMini.classList.toggle('sidebar-collapse');
  })

  const btnDetailGaji = document.querySelectorAll('.btnDetailGaji');
  const modalDetailGaji = document.querySelector('.modalDetailGaji');

  btnDetailGaji.forEach(e=>{
    e.addEventListener('click',function(){
      modalDetailGaji.querySelector('.status').innerHTML = ': '+ this.dataset.status;
      modalDetailGaji.querySelector('.tglPenggajian').innerHTML = ': '+ this.dataset.tglpenggajian;
      modalDetailGaji.querySelector('.tglHitung').innerHTML = ': '+ this.dataset.mulaitglhit +' - '+this.dataset.akhirtglhit;
      modalDetailGaji.querySelector('.nip').innerHTML = ': '+ this.dataset.nip;
      modalDetailGaji.querySelector('.bagian').innerHTML = ': '+ this.dataset.bagian;
      modalDetailGaji.querySelector('.nama').innerHTML = ': '+ this.dataset.nama;
      modalDetailGaji.querySelector('.gajiPokokHari').innerHTML = ': '+ this.dataset.jumharimasuk+' hari x ' + this.dataset.gajipokok;
      modalDetailGaji.querySelector('.totGajiPokok').innerHTML = ': '+ this.dataset.totgajipokok;
      modalDetailGaji.querySelector('.insentif').innerHTML = ': '+ this.dataset.insentif;
      modalDetailGaji.querySelector('.jumJamLembur').innerHTML = ': '+ this.dataset.jumjamlembur+' Jam';
      modalDetailGaji.querySelector('.uangLembur').innerHTML = ': '+ this.dataset.uanglembur;
      modalDetailGaji.querySelector('.uangTambahan').innerHTML = ': '+ this.dataset.uangtambahan;
      modalDetailGaji.querySelector('.totGaji').innerHTML = ': '+ this.dataset.totgaji;
      modalDetailGaji.querySelector('.potKasbon').innerHTML = ': '+ this.dataset.potkasbon;
      modalDetailGaji.querySelector('.gajiDiTerimah').innerHTML = ': '+ this.dataset.gajiditerimah;
      modalDetailGaji.querySelector('.ket').innerHTML = ': '+ this.dataset.ket;
  
    })
  })

  const btnUbahGaji = document.querySelectorAll('.btnUbahGaji');
  const modalUbahGaji = document.querySelector('.modalUbahGaji');

  btnUbahGaji.forEach(e=>{
    e.addEventListener('click',function(){
      modalUbahGaji.querySelector('.id').value = this.dataset.id
      modalUbahGaji.querySelector('.nip').value = this.dataset.nip
      modalUbahGaji.querySelector('.nama').value = this.dataset.nama;
      modalUbahGaji.querySelector('.mulaiTglHit').value = this.dataset.mulaitglhit;
      modalUbahGaji.querySelector('.akhirTglHit').value = this.dataset.akhirtglhit;
      modalUbahGaji.querySelector('.uangTambahan').value = this.dataset.uangtambahan;
      modalUbahGaji.querySelector('.ket').value = this.dataset.ket;
    })
  })


  const btnTambahGaji = document.querySelectorAll('.btnTambahGaji');
  const modalTambahGaji = document.querySelector('.modalTambahGaji');

  btnTambahGaji.forEach((e,i)=>{
    e.addEventListener('click',function(){
      modalTambahGaji.querySelector('.id').value = this.dataset.id;
      modalTambahGaji.querySelector('.nip').value = this.dataset.nip;
      modalTambahGaji.querySelector('.nama').value = this.dataset.nama;
      modalTambahGaji.querySelector('.namaHide').value = this.dataset.nama;
    })
  })


  const btnUbahL = document.querySelectorAll('.btnUbahL');
  const modalUbahL = document.querySelector('.modalUbahL');
  btnUbahL.forEach((e,i)=>{
    e.addEventListener('click',function(){
      console.log(e.dataset.jammasuk)
      modalUbahL.querySelector('.id').value = e.dataset.idl;
      modalUbahL.querySelector('.tanggal').value = e.dataset.tanggal;
      modalUbahL.querySelector('.nip').value = e.dataset.nip;
      modalUbahL.querySelector('.jamMasuk').value = e.dataset.jammasuk;
      modalUbahL.querySelector('.jamPulang').value = e.dataset.jampulang;
      modalUbahL.querySelector('.ket').value = e.dataset.ket;
    })
  })

  const btnUbahA = document.querySelectorAll('.btnUbahA');
  const modalUbahA = document.querySelector('.modalUbahA');
  btnUbahA.forEach((e,i)=>{
    e.addEventListener('click',function(){
      modalUbahA.querySelector('.id').value = e.dataset.ida;
      modalUbahA.querySelector('.nama').value = e.dataset.nama;
      modalUbahA.querySelector('.sift').value = e.dataset.sift;
      modalUbahA.querySelector('.status').value = e.dataset.status;
      modalUbahA.querySelector('.jamMasuk').value = e.dataset.jammasuk;
      modalUbahA.querySelector('.jamPulang').value = e.dataset.jampulang;
      modalUbahA.querySelector('.ket').value = e.dataset.ket;
    })
  })

  const btnInputA = document.querySelectorAll('.btnInputA');
  const btnDataA = document.querySelector('.btnDataA');
  const siftAll = document.querySelectorAll('.sift');
  const statusAll = document.querySelectorAll('.status');
  const tambahA = document.querySelector('.tambahA');

  siftAll.forEach((e,i)=>{
    e.addEventListener('click',function(){
      const jamMasuk = this.parentNode.parentNode.querySelector('.jamMasuk');
      const jamPulang = this.parentNode.parentNode.querySelector('.jamPulang');
      const status = this.parentNode.parentNode.querySelector('.status');

      (this.value != '')? tambahA.style.visibility = "unset" : tambahA.style.visibility = "hidden";

      if(this.value == '1' && status.value == 'masuk'){
        jamMasuk.value = '08:00';
        jamPulang.value = '16:00';
      }else if(this.value == '2' && status.value == 'masuk'){
        jamMasuk.value = '16:00';
        jamPulang.value = '00:00';
      }else if(this.value == '3' && status.value == 'masuk'){
        jamMasuk.value = '00:00';
        jamPulang.value = '08:00';
      }else{
        jamMasuk.value = '';
        jamPulang.value = '';
      }
      
    })
  })

  statusAll.forEach((e,i)=>{
    e.addEventListener('click',function(){
      const jamMasuk = this.parentNode.parentNode.querySelector('.jamMasuk');
      const jamPulang = this.parentNode.parentNode.querySelector('.jamPulang');
      const sift = this.parentNode.parentNode.querySelector('.sift');

      if(this.value == 'masuk' && sift.value == '1'){
        jamMasuk.value = '08:00';
        jamPulang.value = '16:00';
      }else if(this.value == 'masuk' && sift.value == '2'){
        jamMasuk.value = '16:00';
        jamPulang.value = '00:00';
      }else if(this.value == 'masuk' && sift.value == '3'){
        jamMasuk.value = '00:00';
        jamPulang.value = '08:00';
      }else{
        jamMasuk.value = '';
        jamPulang.value = '';
      }
    })
  })
  
  const bayarKasbon = document.querySelectorAll('.bayarKasbon');
  bayarKasbon.forEach(e=>{
    e.addEventListener('click',function(){
      const parent = this.parentNode.parentNode;
      parent.querySelector('.formBayar').removeAttribute('style');
      parent.querySelector('.aksi').setAttribute('style','display: none;');

    })
  });

  const kembaliFormKasbon = document.querySelectorAll('.kembaliFormKasbon');
  kembaliFormKasbon.forEach(e=>{
    e.addEventListener('click',function(){
      const parent = this.parentNode.parentNode.parentNode;
      parent.querySelector('.formBayar').setAttribute('style','display: none;');
      parent.querySelector('.aksi').removeAttribute('style');
    })
  })

  const input = document.querySelectorAll('.input')
  const currency = document.querySelectorAll('.currency')
  let rLembur = document.querySelector('.rLembur')
  let rGaji = document.querySelector('.rGaji')

  function rupiah(element){

    const numb = element.value.replace(/[^,\d]/g, '')//regex tsb untuk mengambil string kecuali number
    if(numb){
      const sisa = numb.length % 3
      let rupiah = numb.substr(0,sisa)
      let ribu = numb.substr(sisa).match(/\d{3}/gi)//the method match() retrieves the result ofmatching a string against a regex, and become a array
      separator = sisa && numb.length > 3?'.':'';
        
      if(ribu){
        rupiah+=separator+ribu.join('.')
      }
      element.value = "Rp. "+rupiah
    }

  }

  // function hitung(){
  //   let arr = []
  //     input.forEach(e=>{
  //     let input2 = e.value.replace(/[^,\d]/g,'')
  //     arr.push(input2)
  //     })

  //     let [gajiPokok,masukPerHari,lemburPerjam,insentif,uangMakan,lainLain] = arr

  //     let resultLembur = Number(lemburPerjam) * (Number(gajiPokok) / 7 )
  //     rLembur.value = Math.floor(resultLembur)
  //     let resultGaji =  (Number(masukPerHari) * (Number(gajiPokok)+Number(insentif)+Number(uangMakan))) + resultLembur + Number(lainLain)
  //     rGaji.value = Math.floor(resultGaji)
  //     if(rLembur.value){ rupiah(rLembur) }
  //     if(rGaji.value){rupiah(rGaji)}
  // }


  currency.forEach(e=>{
    if(e.value) rupiah(e)
    e.addEventListener('keyup',function(){
      rupiah(this)
    })
  })

  // input.forEach(e => {
  //   if(e.value) hitung()
  //   e.addEventListener('keyup',()=>{
  //     hitung()
  //   })
  // })



  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({
      timePicker: true,
      timePickerIncrement: 30,
      locale: {
        format: 'MM/DD/YYYY hh:mm A'
      }
    })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      },
      function (start, end) {
        $('#reportrange span').html(start.format('D MMMM, YYYY') + ' - ' + end.format('D MMMM, YYYY'))
      }
    )

    //Timepicker
    $('#timepicker').datetimepicker({
      format: 'LT'
    })
    
    //Bootstrap Duallistbox
    $('.duallistbox').bootstrapDualListbox()

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    $('.my-colorpicker2').on('colorpickerChange', function(event) {
      $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
    });

    $("input[data-bootstrap-switch]").each(function(){
      $(this).bootstrapSwitch('state', $(this).prop('checked'));
    });

  })
</script>
<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
    });
  });
</script>
</body>
</html>
