<%
const menu = {
  dashboard : '',
  dataKaryawan : '',
  bagian : '',
  dataKehadiran : '',
  rekapKehadiran : '',
  kasbon : '',
  penggajian : '',
  ubahPassword : '',
}
const dropDown = {
  karyawan:'',
  kehadiran:''
}
if(typeof dataMenu === 'string') menu[dataMenu] = 'active';
if(typeof dataDropDown=== 'string') dropDown[dataDropDown] = 'menu-open'
%>
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <!-- <img src="/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8"> -->
      <div class="titleSide">
        <span>P</span><span class="brand-text">ENGGAJIAN</span>
      </div>
      <!-- <p style="margin: 0px 0px 0px 30px;"><strong>PENGGAJIAN</strong></p> -->
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/dist/img/userImage3.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block adminSide"><%= login %></a>
        </div>
      </div>
<!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
               
          <%
          
          const sideMenu = {
            dash:`
            <li class="nav-item">
              <a href="/dashboard" class="nav-link ${menu.dashboard}">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Dashboard
                </p>
              </a>
            </li>
            `,
            kar:`
            <li class="nav-item has-treeview ${dropDown.karyawan}">
              <a href="#" class="nav-link" >
                <i class="nav-icon fa fa-users"></i>
                <p>
                  Karyawan
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/karyawan" class="nav-link ${menu.dataKaryawan}">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Data Karyawan</p>
                  </a>
                </li>
                ${
                  login==="HRD"?`
                  <li class="nav-item">
                    <a href="/bagian" class="nav-link ${menu.bagian}">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Bagian</p>
                    </a>
                  </li>
                  `:``
                }
              </ul>
            </li>
            `,
            keh:`
            <li class="nav-item has-treeview ${dropDown.kehadiran}">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>
                  Kehadiran
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                ${
                  login==="Supervisor"
                  ?
                  `
                  <li class="nav-item">
                    <a href="/kehadiran" class="nav-link ${menu.dataKehadiran}">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Data Kehadiran</p>
                    </a>
                  </li>
                  `
                  :
                  `
                  `
                }
                <li class="nav-item">
                  <a href="/kehadiran/rekap" class="nav-link ${menu.rekapKehadiran}">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Rekap Kehadiran</p>
                  </a>
                </li>
              </ul>
            </li>
            `,
            kas:`
            <li class="nav-item">
              <a href="/kasbon" class="nav-link ${menu.kasbon}">
                <i class="nav-icon 	fa fa-credit-card"></i>
                <p>
                  Kasbon
                </p>
              </a>
            </li>
            `,
            gaji:`
            <li class="nav-item">
              <a href="/gaji" class="nav-link ${menu.penggajian}">
                <i class="nav-icon far fa-edit"></i>
                <p>
                  Penggajian
                </p>
              </a>
            </li>
            `,
            ubhPass:`
            <li class="nav-item">
              <a href="/ubah-password" class="nav-link ${menu.ubahPassword}">
                <i class="nav-icon fas fa-cog"></i>
                <p>
                  Ubah Password
                </p>
              </a>
            </li>
            `,
            logout:`
            <li class="nav-item">
              <a href="/logout" class="nav-link">
                <i class="nav-icon fa fa-arrow-left"></i>
                <p>
                  Logout
                </p>
              </a>
            </li>
            `
          }
          
          hakAkses[login].forEach(e=>{ %>

            <%- sideMenu[e] %>

          <%})%>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>