<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>1            ssds</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            td
        </tr>
        <tr>4</tr>
        <tr>5</tr>
        <tr>6</tr>
        <tr>7</tr>
        <tr>8</tr>
        <tr>9</tr>
        <tr>0</tr>
        <tr>11</tr>
        <tr>12</tr>
        <tr>13</tr>
    </table>
</body>
</html>