<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
      body{
        font-size: 14px;
      }
      #tabelDetail{
        width: 11cm;
        border: 2px solid;
      }
      #tabelDetail  td {
        width: 200px;
        word-break: break-all;
      }
      td{
        padding-left: 3px;
      }
    </style>
</head>
<body>


  <table style="margin-left: 10px; margin-top: 10px;" id="tabelDetail" cellspacing="0">
    <tbody>
      <tr>
        <td style="border-bottom: 2px solid;"><img  style="margin: auto; height: 30px; width: 100px;" src="/dist/img/symgreen.png" alt="logo"></td>
        <td style="border-bottom: 2px solid; text-align: left;" colspan="2"><strong>BUKTI PENERIMAAN GAJI</strong></td>
      </tr>
      <tr>
        <td style="width: 2cm;">Tanggal Penggajian</td>
        <td ></td>
        <td ></td>
      </tr>
      <tr>
        <td style="border-bottom: 2px solid;">Tanggal Hitung</td>
        <td style="border-bottom: 2px solid;"></td>
        <td style="border-bottom: 2px solid;"></td>
      </tr>
      <tr>
        <td>Bagian</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td style="border-bottom: 2px solid;">Nama</td>
        <td style="border-bottom: 2px solid;" colspan="2"></td>
      </tr>
      <tr>
          <td style="border-bottom: 1px solid #959494;" >Gaji Pokok</td>
          <td style="border-bottom: 1px solid #959494;" ></td>
          <td style="border-bottom: 1px solid #959494;" ></td>
        </tr>
        <tr>
          <td style="border-bottom: 1px solid #959494;">Lembur</td>
          <td style="border-bottom: 1px solid #959494;" ></td>
          <td style="border-bottom: 1px solid #959494;" ></td>
        </tr>
        <tr>
          <td style="border-bottom: 1px solid #959494;" colspan="2">Insentif</td>
          <td style="border-bottom: 1px solid #959494;" ></td>
        </tr>
        <tr>
          <td style="border-bottom: 1px solid #959494;" colspan="2">Uang Makan</td>
          <td style="border-bottom: 1px solid #959494;" ></td>
        </tr>
        <tr>
          <td style="border-bottom: 1px solid #959494;">Uang Lain-lain</td>
          <td style="border-bottom: 1px solid #959494;"></td>
          <td style="border-bottom: 1px solid #959494;"></td>
        </tr>
        <tr>
          <td style="border-bottom: 3px solid;" colspan="2">Potongan Kasbon</td>
          <td style="border-bottom: 3px solid;" ></td>
        </tr>
        <tr>
          <td style="border-bottom:double;" ><strong>Jumlah Gaji Diterima</strong></td>
          <td style="border-bottom:double;"></td>
          <td style="border-bottom: double;" ></td>
        </tr>
        <tr>
          <td style="vertical-align: text-top; border-bottom: 2px solid; background-color: yellow; width: 100px;">Keterangan</td>
          <td style="vertical-align: text-top; border-bottom: 2px solid;"></td>
          <td style="vertical-align: text-top; border-bottom: 2px solid;"></td>
        </tr>
        <tr>
          <td>Dibuat Oleh<br><strong>HR Dept</strong></td>
          <td ></td>
          <td>Yang Menerima:<br><br></td>
        </tr>
    </tbody>
  </table>
</body>
</html>